<div class="container">
  <div class="row main-chart-area orange-border">
    <div class="col-sm-12">
      <div class="row text-center">
        <h2>Workout Listing</h2>
      </div>
      <div class="row table-section">
        <table class="table table-hover workouts-table">
          <thead>
            <tr>
              <th>Date</th>
              <th>Distance (mi)</th>
              <th>Average Speed (mph)</th>
              <th>Elapsed Time (min)</th>
              <th>Calories Burned (kcal)</th>
              <th>Location</th>
              <th>Elevation (feet)</th>
            </tr>
          </thead>
          <tbody>
            <% cache("workout-listing-#{Workout.count}-#{Workout.maximum(:updated_at)}-#{current_user.id}") do %>
              <% @workouts.each do |workout| %>
                <tr class="clickable-row" id="workout-<%= workout.map_my_fitness_id %>" data-link="/workouts/<%= workout.id %>">
                  <td><%= workout.display_starting_date_no_time %></td>
                  <td><%= workout.display_distance_in_miles %></td>
                  <td><%= workout.display_average_speed_in_mph %></td>
                  <td><%= workout.display_elapsed_time_in_minutes %></td>
                  <td><%= workout.display_calories_burned_in_kcal %></td>
                  <td><%= workout.display_city_and_state %></td>
                  <td><%= workout.display_elevation_in_feet %></td>
                </tr>
              <% end %>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>

<%= javascript_tag do %>
  $("tr[data-link]").click(function() {
    window.location = this.dataset.link;
  })
<% end %>
