<div class="container">
  <div class="row main-chart-area orange-border">
    <div class="col-sm-12">
      <div class="row text-center">
        <div class="col-sm-12">
          <h2>Workout Listing</h2>
        </div>
      </div>
      <div class="row table-filters text-center">
        <div class="col-sm-12 col-md-3">
          <div class="row">
            <label class="filter-label">Location</label>
          </div>
          <div class="row">
            <%= select_tag "location-single-select", options_for_select(current_user.locations_as_city_and_state), {include_blank: true} %>
          </div>
        </div>
        <div class="col-sm-12 col-md-2">
          <div class="row">
            <label class="filter-label">Distance (mi)</label>
          </div>
          <div class="row">
            <%= number_field :minimum, :distance, step: 0.5, min: 0, class: "distance-textbox" %>
            <span>to</span>
            <%= number_field :maximum, :distance, step: 0.5, min: 0, class: "distance-textbox" %>
          </div>
        </div>
        <div class="col-sm-12 col-md-4">
          <div class="row">
            <label class="filter-label">Dates</label>
          </div>
          <div class="row">
            <%= date_field :minimum, :date, class: "date-field" %>
            <span>to</span>
            <%= date_field :maximum, :date, class: "date-field" %>
          </div>
        </div>
        <div class="col-sm-12 col-md-2">
          <div class="row">
            <label class="filter-label">Elevation (ft)</label>
          </div>
          <div class="row">
            <%= number_field :minimum, :elevation, step: 500, min: 0, class: "elevation-textbox" %>
            <span>to</span>
            <%= number_field :maximum, :elevation, step: 500, min: 0, class: "elevation-textbox" %>
          </div>
        </div>
      </div>
      <div class="row table-section">
        <table class="table table-hover workouts-table" id="workouts-table">
          <thead>
            <tr>
              <th>Date <i class="fa fa-fw fa-sort" id="date-sort"></i></th>
              <th>Distance<br>(mi) <i class="fa fa-fw fa-sort" id="distance-sort"></i></th>
              <th class="hide-on-mobile">Average Speed<br>(mph) <i class="fa fa-fw fa-sort" id="speed-sort"></i></th>
              <th class="hide-on-mobile">Elapsed Time<br>(min) <i class="fa fa-fw fa-sort" id="time-sort"></i></th>
              <th class="hide-on-mobile">Calories Burned<br>(kcal) <i class="fa fa-fw fa-sort" id="calories-sort"></i></th>
              <th>Location <i class="fa fa-fw fa-sort" id="location-sort"></i></th>
              <th class="hide-on-mobile">Elevation<br>(feet) <i class="fa fa-fw fa-sort" id="elevation-sort"></i></th>
            </tr>
          </thead>
          <tbody>
            <% cache("workout-listing-#{current_user.workouts.count}-#{current_user.workouts.maximum(:updated_at)}-#{current_user.id}") do %>
              <% @workouts.each do |workout| %>
                <%= render partial: "workout", locals: { workout: workout } %>
              <% end %>
            </tbody>
          <% end %>
        </table>
      </div>
    </div>
  </div>
</div>
