<div class="container">
  <div class="row back-link-row">
    <div class="col-sm-12">
      <%= link_to "<< Back to Workouts", workouts_path, class: "back-link" %>
    </div>
  </div>
  <div class="row orange-border">
    <div class="col-sm-12 col-md-5">
      <h2 class="date-title"><%= @workout.starting_date_no_time %></h2>
      <ul class="individual-workout-stats">
        <li><h4><strong>Started At:</strong> <%= @workout.starting_time_only %></h4></li>
        <li><h4><strong>Location:</strong> <%= @workout.location.city_and_state %></h4></li>
        <li><h4><strong>Distance:</strong> <%= @workout.distance_in_miles %> miles</h4></li>
        <li><h4><strong>Elapsed Time:</strong> <%= @workout.elapsed_time_in_minutes %> minutes</h4></li>
        <li><h4><strong>Temperature:</strong> <%= @workout.display_temperature %></h4></li>
        <li><h4><strong>Calories Burned:</strong> <%= @workout.calories_burned_in_kcal %> kcal</h4></li>
        <li><h4><strong>Average Speed:</strong> <%= @workout.average_speed_in_mph %> mph</h4></li>
        <% if @time_series.min_speed %>
          <li><h4><strong>Minimum Speed:</strong> <%= @time_series.min_speed_in_mph %> mph</h4></li>
          <li><h4><strong>Maximum Speed:</strong> <%= @time_series.max_speed_in_mph %> mph</h4></li>
        <% else %>
          <li><h4><strong>Minimum Speed:</strong> Not Available</h4></li>
          <li><h4><strong>Maximum Speed:</strong> Not Available</h4></li>
        <% end %>
        <% if @time_series.has_elevations? %>
          <li><h4><strong>Minimum Elevation:</strong> <%= @time_series.min_elevation_in_feet %> ft</h4></li>
          <li><h4><strong>Maximum Elevation:</strong> <%= @time_series.max_elevation_in_feet %> ft</h4></li>
        <% else %>
          <li><h4><strong>Minimum Elevation:</strong> Not Available</h4></li>
          <li><h4><strong>Maximum Elevation:</strong> Not Available</h4></li>
        <% end %>
      </ul>
    </div>
    <div class="col-sm-12 col-md-7">
      <div class="workout-map" id="google-map"></div>
    </div>
  </div>
</div>

<%= render partial: "google_map", locals: { time_series: @time_series } %>
