<div class="container">
  <div class="row main-chart-area orange-border">
    <div class="col-sm-12">
      <div class="row text-center">
        <h2>Location Analysis</h2>
      </div>
      <div class="row">
        <div class="filter">
          <div class="col-sm-3 text-center">
            <label>Locations (select multiple)</label><br>
            <button id="select-all">Select All</button>
            <%= select_tag "location", options_for_select(current_user.locations_as_city_and_state),
                                       multiple: true,
                                       class: "multi-select" %>
          </div>
          <div class="col-sm-4 large-top-margin">
            <label>Distance Range</label>
            <%= number_field :minimum, :distance, step: 0.1, min: 0 %>
            <span>to</span>
            <%= number_field :maximum, :distance, step: 0.1, min: 0 %>
            <span>miles</span>
          </div>
          <div class="col-sm-3 large-top-margin">
            <label>Y-axis</label>
            <%= select_tag "y-axis", options_for_select(["Average Total Time", "Average Speed"], "Average Total Time") %>
          </div>
          <div class="col-sm-2 large-top-margin text-center">
            <button id="create-location-chart" class="btn btn-default create-graph">Create Graph</button>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="chart" id="location-chart"></div>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $('#select-all').click(function() {
    $('#location option').prop('selected', true);
  });
</script>

<%= render partial: "location_chart" %>
