<div class="container">
  <div class="row">
    <aside class="col-sm-12 col-md-4 text-center">
      <div class="row orange-border">
        <div class="col-sm-12">
          <h1><%= @user.display_name %></h1>
          <%= image_tag @user.image, class: "img-responsive img-circle user-profile-photo", alt: "User Profile Photo"%>
          <h5 class="user-data"><%= @user.username %></h5>
          <h5 class="user-data"><%= @user.email %></h5>
        </div>
      </div>
      <div class="row orange-border">
        <div class="col-sm-12">
          <ul class="dashboard-options-list">
            <li><h4><%= link_to "Workout Listing", workouts_path, class: "link-to-chart-page" %></h4></li>
            <li><h4>Elevation</h4></li>
            <li><h4>Location</h4></li>
            <li><h4>Season</h4></li>
            <li><h4>Time of Day</h4></li>
            <li><h4>Distance</h4></li>
            <li><h4><%= link_to "Temperature", temperature_path, class: "link-to-chart-page" %></h4></li>
          </ul>
        </div>
      </div>
    </aside>
    <section class="col-sm-12 col-md-8">
      <div class="row orange-border text-center summary-stat-column">
        <div class="col-sm-12">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="summary-title">Summary Stats</h1>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-12 col-md-6">
              <div class="row dashboard-stat-listing">
                <h3 class="stat-title">Total Workouts</h3>
                <h2 class="stat-data" id="total-workouts">0</h2>
              </div>
              <div class="row dashboard-stat-listing">
                <h3 class="stat-title">Total Calories</h3>
                <h2 class="stat-data" id="total-calories">0</h2>
              </div>
              <div class="row dashboard-stat-listing">
                <h3 class="stat-title">Average Distance</h3>
                <h2 class="stat-data" id="average-distance">0</h2>
              </div>
            </div>
            <div class="col-sm-12 col-md-6">
              <div class="row dashboard-stat-listing">
                <h3 class="stat-title">Total Distance</h3>
                <h2 class="stat-data" id="total-distance">0</h2>
              </div>
              <div class="row dashboard-stat-listing">
                <h3 class="stat-title">Total Time</h3>
                <h2 class="stat-data" id="total-time">0</h2>
              </div>
              <div class="row dashboard-stat-listing">
                <h3 class="stat-title">Active Since</h3>
                <h2 class="stat-data" id="date-joined">0</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </div>
</div>

<%= javascript_tag do %>
  $(document).ready(function(){
    setInterval( pollForAggregates, 1000 );
  })

  function pollForAggregates() {
    $.ajax({
      type: "GET",
      url: "/api/v1/user/aggregates",
      success: function(data) {
        updateAggregates(data);
      }
    })
  }

  function updateAggregates(data) {
    $("#total-workouts").text(data.total_workouts);
    $("#total-calories").text(data.total_calories + " kcal");
    $("#total-distance").text(data.total_distance + " miles");
    $("#average-distance").text(data.average_run_distance + " miles");
    $("#total-time").text(data.total_time + " hours");
    $("#date-joined").text(data.date_joined);
  }
<% end %>
