<!DOCTYPE html>
<html>
  <head>
    <title>runHacker</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <%= link_to "runHacker", root_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Log Out", root_path %></li>
      </ul>
    </nav>
    <%= yield %>
    <%= javascript_include_tag 'application' %>
  </body>
</html>
