<!DOCTYPE html>
<html>
  <head>
    <title>runHacker</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <nav class="navbar navbar-default">
      <div class="navbar-header">
        <%= link_to "runHacker", root_path, class: "navbar-brand" %>
      </div>
      <ul class="nav navbar-nav navbar-right">

        <% if current_user %>
          <li><%= link_to "My Dashboard", dashboard_path %></li>
          <li><%= link_to "Log Out", logout_path %></li>
        <% else %>
          <li><%= link_to "Log In", "/auth/mapmyfitness" %></li>
        <% end %>
      </ul>
    </nav>

    <% flash.each do |type, msg| %>
      <div class="alert alert-<%= type %> text-center"><%= msg %></div>
    <% end %>

    <%= javascript_include_tag 'application' %>
    <%= yield %>
  </body>
</html>
